/* Custom color theme */
:root {
    --f7-theme-color: #253238;
    --f7-theme-color-rgb: 37, 50, 56;
    --f7-theme-color-shade: #151c1f;
    --f7-theme-color-tint: #354851;
  }
.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bolder;
    margin: 10px;
}

.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bolder;
}

.fill{
    display:flex;
    flex-grow: 1;
}
.center{
    display: flex;
    justify-content: center;
}
